<a href="https://colab.research.google.com/github/ArefehK78/Random_User_Generator/blob/main/Random_User_Generator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install randomuser

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5083 sha256=ceb13f6eba24d1f6b8726b2111e143b35d004a26ea951f704033a98c2584844d
  Stored in directory: /root/.cache/pip/wheels/41/6f/23/878c103a235dc2d4e85a3965c124aae8a28470c541b81aa2ba
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

In [26]:
from randomuser import RandomUser
import pandas as pd

In [3]:
r = RandomUser()

In [5]:
some_list = r.generate_users(10)
some_list

[<randomuser.RandomUser at 0x7fb7ab417f40>,
 <randomuser.RandomUser at 0x7fb7ab417730>,
 <randomuser.RandomUser at 0x7fb7ab4172e0>,
 <randomuser.RandomUser at 0x7fb7ab417850>,
 <randomuser.RandomUser at 0x7fb7ab4173d0>,
 <randomuser.RandomUser at 0x7fb7ab417b50>,
 <randomuser.RandomUser at 0x7fb7ab417d30>,
 <randomuser.RandomUser at 0x7fb7ab417760>,
 <randomuser.RandomUser at 0x7fb7ab417ca0>,
 <randomuser.RandomUser at 0x7fb7ab42ce80>]

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

In [8]:
#The "Get Methods" functions can generate the required parameters to construct a dataset.
#For example, to get full name, we call get_full_name() function.
name = r.get_full_name()

In [9]:
#we only need 10 users with full names and their email addresses
for user in some_list:
  print(user.get_full_name() ," " , user.get_email())

Neurani Rodrigues   neurani.rodrigues@example.com
Luukas Tervo   luukas.tervo@example.com
Sienna Li   sienna.li@example.com
Emmeli Grav   emmeli.grav@example.com
Sofia Harju   sofia.harju@example.com
Lucia Velasco   lucia.velasco@example.com
Leslie Mensen   leslie.mensen@example.com
Yasemin Gürmen   yasemin.gurmen@example.com
Mike Macrae   mike.macrae@example.com
Luukas Niva   luukas.niva@example.com

In [12]:
#generate photos of the random 10 users:
for user in some_list:
  print(user.get_picture())

https://randomuser.me/api/portraits/women/12.jpg
https://randomuser.me/api/portraits/men/76.jpg
https://randomuser.me/api/portraits/women/89.jpg
https://randomuser.me/api/portraits/women/47.jpg
https://randomuser.me/api/portraits/women/49.jpg
https://randomuser.me/api/portraits/women/40.jpg
https://randomuser.me/api/portraits/women/67.jpg
https://randomuser.me/api/portraits/women/77.jpg
https://randomuser.me/api/portraits/men/21.jpg
https://randomuser.me/api/portraits/men/34.jpg

In [31]:
#To generate a table with information about the users, 
#we can write a function containing all desirable parameters. 
#For example, name, gender, city, etc. 

def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [32]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Tatiana Guillot,female,Zeihen,Graubünden,tatiana.guillot@example.com,1958-12-09T10:27:13.732Z,https://randomuser.me/api/portraits/women/8.jpg
1,Alan Gonzalez,male,Boussens,Appenzell Ausserrhoden,alan.gonzalez@example.com,1958-07-14T15:17:07.272Z,https://randomuser.me/api/portraits/men/71.jpg
2,Agathe Riviere,female,Fort-de-France,Drôme,agathe.riviere@example.com,1969-11-14T05:10:26.733Z,https://randomuser.me/api/portraits/women/76.jpg
3,Harper Hayes,female,Geelong,New South Wales,harper.hayes@example.com,1945-11-01T15:15:37.927Z,https://randomuser.me/api/portraits/women/58.jpg
4,Brianna Steward,female,Independence,South Carolina,brianna.steward@example.com,1950-12-22T21:29:14.380Z,https://randomuser.me/api/portraits/women/14.jpg
5,اميرعلي پارسا,male,مشهد,گلستان,myraaly.prs@example.com,1996-09-14T09:02:20.552Z,https://randomuser.me/api/portraits/men/38.jpg
6,Sebastian Thomsen,male,Snertinge,Midtjylland,sebastian.thomsen@example.com,1982-05-23T01:50:24.821Z,https://randomuser.me/api/portraits/men/34.jpg
7,Jose Steeves,male,Scurry,Minnesota,jose.steeves@example.com,1950-11-28T07:40:19.241Z,https://randomuser.me/api/portraits/men/94.jpg
8,Paige Hall,female,Whanganui,Taranaki,paige.hall@example.com,1964-08-19T17:02:20.728Z,https://randomuser.me/api/portraits/women/24.jpg
9,Berra Bredewold,female,Barendrecht,Limburg,berra.bredewold@example.com,1963-01-09T20:13:13.351Z,https://randomuser.me/api/portraits/women/28.jpg

In [33]:
#We have a pandas dataframe that can be used for any testing purposes that the tester might have

df1 = pd.DataFrame(get_users())